.layout-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.layout-enter.layout-enter-active {
  opacity: 1;
}

.layout-leave {
  opacity: 0;
  transition: opacity .1s ease-out;
}

.layout-leave.layout-leave-active {
  opacity: 0;
}